<div class="container mt-4" [ngClass]="{'was-validated': isSubmitted}">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-12">
                <h4>รายละเอียดผู้ใช้งาน</h4>
            </div>
            <div class="col-12 mt-4">
                <h5>ข้อมูลผู้ใช้งาน</h5>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="prename" class="form-label">PreName</label>
                    <input type="text" class="form-control" placeholder="คำนำหน้า" formControlName="prename"
                        [required]="form.controls['prename'].invalid">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="firstname" class="form-label">FirstName</label>
                    <input type="text" class="form-control" placeholder="name" formControlName="firstName"
                        [autocomplete]="true" [required]="form.controls['firstName'].invalid">
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="" class="form-label">LastName</label>
                    <input type="text" class="form-control" placeholder="lastname" formControlName="lastName"
                        [autocomplete]="true" [required]="form.controls['lastName'].invalid">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="tel" class="form-label">Tel</label>
                    <input type="text" class="form-control" placeholder="tel" formControlName="tel"
                        [autocomplete]="true" [required]="form.controls['tel'].invalid">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" placeholder="email" formControlName="email"
                        [autocomplete]="true">
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-12 mt-4">
                <h5>ข้อมูลที่อยู่</h5>
            </div>
            <div class="row" formGroupName="address">
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">House Number</label>
                        <input type="text" class="form-control" placeholder="house name" formControlName="houseNo"
                            [autocomplete]="true" [required]="form.controls['address'].get('houseNo')?.invalid == true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">Building Name/Floors.</label>
                        <input type="text" class="form-control" placeholder="building name"
                            formControlName="buildingName" [autocomplete]="true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">Village Name</label>
                        <input type="text" class="form-control" placeholder="village name" formControlName="villageName"
                            [autocomplete]="true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">SubDistrict</label>
                        <input type="text" class="form-control" placeholder="subDisctrict"
                            formControlName="subDisctrict" [autocomplete]="true"
                            [required]="form.controls['address'].get('subDisctrict')?.invalid == true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">District</label>
                        <input type="text" class="form-control" placeholder="district" formControlName="district"
                            [autocomplete]="true"
                            [required]="form.controls['address'].get('district')?.invalid == true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">Province</label>
                        <input type="text" class="form-control" placeholder="province" formControlName="province"
                            [autocomplete]="true"
                            [required]="form.controls['address'].get('province')?.invalid == true">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="email" class="form-label">Province</label>
                        <input type="text" class="form-control" placeholder="zipcode" formControlName="zipcode"
                            [autocomplete]="true" [required]="form.controls['address'].get('zipcode')?.invalid == true">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col mt-4 text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>