<div class="container mt-4" [ngClass]="{'was-validated': isSubmitted}">
    <div class="row">
        <h4 class="p-0">รายละเอียดผู้ใช้งาน</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <app-personal-information class="p-0" [personalInformation]="personalInformation">
            </app-personal-information>
            <div class="col-4"></div>
        </div>
        <div class="row">lorem</div>

        <div formArrayName="address" class="mt-4 p-0 row w-full col-12">
            <div class=" bg-primary">
                <div class="col-12 d-flex justify-content-between align-items-center p-2">
                    <h5>ข้อมูลที่อยู่</h5>
                    <button class="btn btn-icon text-white" (click)="createNewAddress()" type="button">+
                        เพิ่มที่อยู่</button>
                </div>
            </div>
            <div *ngFor="let address of Address.controls; let i = index" [formGroupName]="i" class="mt-3">
                <div class="col-12 text-end" *ngIf="Address.controls.length > 1">
                    <button class="btn btn-danger btn-sm" (click)="deleteAddress(i)">ลบ</button>
                </div>
                <app-address [form]="address" [index]="i"></app-address>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 mb-4 text-center">
                <button class="btn btn-danger m-2" type="button">Cancel</button>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="alert alert-warning" role="alert">
        A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="modal fade " id="exampleModalToggle" aria-hidden="true" tabindex="1" data-bs-keyboard="false"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Show a second modal and hide this one with the button below.
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
<a class="btn btn-primary" type="button" (click)="openModal()">Open first modal</a>