<div class="container" [ngClass]="isSubmitted ? 'was-validated' : ''">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="" class="form-label">User ID</label>
        <input type="text" class="form-control" placeholder="user id input" [formControl]="userID" required>
      </div>
    </div>
  </div>
</div>

<div class="container" [ngClass]="isSubmitted ? 'was-validated' : ''">
  <form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12" formArrayName="answers">
      <div *ngFor="let answer of answers.controls; let i = index;" [formGroupName]="i" class="mt-4 card p-4 col-12 "
        [ngClass]="answer.status == 'INVALID' && isSubmitted ? 'border-danger': ''">
        <div>
          <h5>{{questions[i].question_th}}</h5>
          <div class="form-check" *ngFor="let choice of questions[i].choice">
            <input class="form-check-input "
              [ngClass]="answer.get('choiceSeleted')?.errors && isSubmitted ? 'border-danger':''" type="radio"
              formControlName="choiceSeleted" [id]="questions[i].question_id" [value]="choice.value" [required]="true"
              (change)="answerSelect(i)">
            <label for="" class="form-check-label "
              [ngClass]="answer.get('choiceSeleted')?.errors && isSubmitted ? 'text-danger':''">{{choice.answer_th}}</label>
          </div>
          <div *ngIf="answer.get('choiceSeleted')?.value === 1">
            <label for="detail" class="form-label">รายละเอียดเพิ่มเติม</label>
            <input type="text" class="form-control" placeholder="กรอกรายละเอียดเพิ่มเติม" formControlName="detail"
              [required]="answer.get('choiceSeleted')?.value == 1 ? true : false">
          </div>
        </div>
      </div>
      <div class="my-4 text-end">
        <button type="button" class="btn btn-danger m-4">ยกเลิก</button>
        <button type="submit" class="btn btn-primary ">บันทึก</button>
      </div>
    </div>
  </form>
</div>